*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 70px;

}
html {
    height:100%;
    width:100%;
}
body{
    background-image: url("images/taquilla.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.logo{
    width: 30%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#000;
    float: left; /* ve hacia la izquierda tod lo posible */
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box; /* para que no sobrepase el maximo de su caja */

}

nav{

    width: 70%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    color:#000;
    float: left; /* ve hacia la izquierda tod lo posible */
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box; /* para que no sobrepase el maximo de su caja */
}

.logo p{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    font-family: Raleway;
    letter-spacing: 1px;


}

nav ul li{
    display: inline; /* alineamos los <li> en horizontal */


}

nav ul li a{
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Raleway;

}

nav ul li a:visited{
    text-decoration: none;
    color: whitesmoke;
}



nav ul li a:hover{ /* cuando pasamos el raton por encima queremos que: */
    color: whitesmoke;
    font-size:15px ;
}
.marg{
    margin-top: 15px;
    margin-right: 15px;
}

.pad{
    padding-top: 30px;
    padding-right: 20px;

}
.colRegistro{
    background-color: rgba(0, 0, 0, 0.7);
    color:#000;
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-family: Raleway;
    letter-spacing: 1px;
    font-weight: bold;
}

.control-label label{
    margin-top: 10px;
}

.colMensaje{
    margin-top: 50px;
    margin-left:20px;

}
.colMensaje h1{
    font-size: 50px;
    font-family: "DejaVu Sans";
    color: white;
    font-weight: 900;

}


@media (max-width: 320px){
    .colMensaje h1{
        font-size: 30px;
    }
}

label{
    font-family: Raleway;
    letter-spacing: 1px;
    margin-right: 15px;
}
.botRegis{
    color: whitesmoke;
    margin-bottom: 10px;
    font-size: 16px;
}
.col-sm-8 input{
    margin-left: 20px;

}
.form-group label{
    color: white;
}
.btn-group button{
    color: gray;
    margin-bottom: 10px;
}

.titulo{
    font-size: 100px;
    font-family: Raleway;
    font-weight: bold;
    color: whitesmoke;
}

.margDiv{
    margin-left: 5px;
    margin-right: 5px;
}




