*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 70px;

}
html {
    min-height: 100%;
    position: relative;
}
body{

    background: gray;
    background-image: url("images/taquilla.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 50px;

}
footer{
    position: absolute;
    bottom: 0;
    width: 102%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.container img{
    float: left;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.7);
    color:#000;
    border: transparent;
}

.navbar-default .navbar-nav > li > a{
    color: white;

}
.navbar-default .navbar-nav > li > a:hover{
    font-size: 20px;
    color: white;
}
.logo{
    width: 100px;
    height: 50px;
}
.redes{
    display:block;
    text-align:center;
}

.redes img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
}
.redes a{
    text-decoration: none;
}
.redes a:visited{
    text-decoration: none;
}
.redes img:hover{
    width: 40px;
    height: 40px;
}

.colRegistro{
    background-color: rgba(0, 0, 0, 0.7);
    color:#000;
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-family: Raleway;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 20px;
}



.colEmail{
    background-color: rgba(0, 0, 0, 0.7);
    color:white;
    font-size: 30px;
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-family: Raleway;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 20px;
}


.colMensaje{
    margin-top: 50px;
    margin-left:80px;

}


.form-horizontal .control-label{
    color: whitesmoke;
    margin-right: 30px;
    margin-top: 10px;
}
.btn-default{
    font-weight: bold;
}

h1, .h1{
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 70px;
    font-weight: bold;
}
h2, .h2{
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 65px;
    font-weight: bold;
    padding-top: 50px;
}
@media (max-width: 620px) {
    h2 { font-size: 30px; }
    h1 { font-size: 40px; }
}
@media (max-width: 767px) {

    h1 {
        margin-top: 60px;
        color: black;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;

    }
}

.form-control{
    margin-top: 10px;
}
.panel-footer{
    padding-top: 56px;
    width:100%;
}

.error{
    color: red;
    margin-top: 15px;
}
.completado{
    color: white;
    margin-top: 15px;
}